<div class="container-fluid routed" id='report'></div>
  <div class='col-xs-12'>
    <h3>
      {{{project.title}}}
    </h3>
      <table class="table report-table">
        <thead class="thead-inverse">
          <tr>
            <th colspan='4'>
            </th>
            <th style='text-align:center;background-color:#F8F8F8' colspan='2'>
              Inconsistency
            </th>
            <th colspan='3'>
            </th>
          </tr>
          <tr>
            <th>Comparison</th>
            <th>Number of Studies</th>
            <th>
              Study Limitations
            </th>
            <th>
              Imprecision
            </th>
            <th style='background-color:#F8F8F8'>
              Heterogeneity
            </th>
            <th style='background-color:#F8F8F8'>
              Incoherence
            </th>
            <th>
              Indirectness
            </th>
            <th>
              Publication bias
            </th>
            {{!-- <th> --}}
              {{!-- Confidence rating --}}
            {{!-- </th> --}}
          </tr>
        </thead>
        <tbody>
          {{#if hasDirects}}
            <tr>
              <td colspan='9'>
            <h4>Mixed evidence</h4>
            </tr>
            {{#each directRows}}
              <tr>
                <th scope="row">
                  {{{armA}}} vs {{{armB}}}
                </th>
                <td>
                  {{numberOfStudies}}
                </td>
                <td style="background-color:{{studyLimitation.color}}" {{# if studyLimitation.customized}} class='customized-report'{{/if}}>
                  {{studyLimitation.label}}
                </td>
                <td style="background-color:{{imprecision.color}}"  {{# if
                  imprecision.customized}} class='customized-report'{{/if}}>
                  {{imprecision.label}}
                </td>
                <td style="background-color:{{heterogeneity.color}}"  {{# if heterogeneity.customized}} class='customized-report'{{/if}}>
                  {{heterogeneity.label}}
                </td>
                <td style="background-color:{{incoherence.color}}"  {{# if incoherence.customized}} class='customized-report'{{/if}}>
                  {{incoherence.label}}
                </td>
                <td style="background-color:{{indirectness.color}}"  {{# if indirectness.customized}} class='customized-report'{{/if}}>
                  {{indirectness.label}}
                </td>
                <td style="background-color:{{pubbias.color}}"  {{# if pubbias.customized}} class='customized-report'{{/if}}>
                  {{pubbias.label}}
                </td>
                {{!-- <td> --}}
                  {{!-- High --}}
                  {{!-- <!-- <select> --> --}}
                  {{!-- <!--   {{#each levels}} --> --}}
                  {{!-- <!--     <option value="{{id}}σδεl{{../id}}"> --> --}}
                  {{!-- <!--       {{label}} --> --}}
                  {{!-- <!--     </option> --> --}}
                  {{!-- <!--   {{/each}} --> --}}
                  {{!-- <!-- </select> --> --}}
                {{!-- </td> --}}
              </tr>
            {{/each}}
          {{/if}}
          {{#if hasIndirects}}
            <tr>
              <td colspan='9'>
            <h4>Indirect evidence</h4>
            </tr>
            {{#each indirectRows}}
              <tr>
                <th scope="row">
                  {{{armA}}} vs {{{armB}}}
                </th>
                <td>
                  --
                </td>
                <td style="background-color:{{studyLimitation.color}}" {{# if studyLimitation.customized}} class='customized-report'{{/if}}>
                  {{studyLimitation.label}}
                </td>
                <td style="background-color:{{imprecision.color}}"  {{# if
                  imprecision.customized}} class='customized-report'{{/if}}>
                  {{imprecision.label}}
                </td>
                <td style="background-color:{{heterogeneity.color}}"  {{# if heterogeneity.customized}} class='customized-report'{{/if}}>
                  {{heterogeneity.label}}
                </td>
                <td style="background-color:{{incoherence.color}}"  {{# if incoherence.customized}} class='customized-report'{{/if}}>
                  {{incoherence.label}}
                </td>
                <td style="background-color:{{indirectness.color}}"  {{# if indirectness.customized}} class='customized-report'{{/if}}>
                  {{indirectness.label}}
                </td>
                <td style="background-color:{{pubbias.color}}"  {{# if pubbias.customized}} class='customized-report'{{/if}}>
                  {{pubbias.label}}
                </td>
                {{!-- <td> --}}
                  {{!-- High --}}
                  {{!-- <!-- <select> --> --}}
                  {{!-- <!--   {{#each levels}} --> --}}
                  {{!-- <!--     <option value="{{id}}σδεl{{../id}}"> --> --}}
                  {{!-- <!--       {{label}} --> --}}
                  {{!-- <!--     </option> --> --}}
                  {{!-- <!--   {{/each}} --> --}}
                  {{!-- <!-- </select> --> --}}
                {{!-- </td> --}}
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
  </div>
</div>
