<div class="container-fluid routed" id='report'></div>
  <div class='col-xs-12'>
    <h4>
      {{{project.title}}}
    </h4>
    {{#if hasDirects}}
    <hr>
      <h4>Mixed evidence</h4>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Comparison</th>
            <th>Number of Studies</th>
            {{#if hasStudyLimitations}}
              <th>
                Study Limitations 
              <br>
                Rule: {{studyLimitationsRule.label}}
              </th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each directRows}} 
            <tr>
              <th scope="row">
                {{{armA}}} vs {{{armB}}}
              </th>
              <td>
                {{numberOfStudies}}
              </td>
              {{#if ../hasStudyLimitations}}
                <td {{# if studyLimitation.customized}} class='customized'{{/if}}>
                  <!-- {{studyLimitation.value}} -->
                  {{studyLimitation.label}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    {{#if hasIndirects}}
      <hr>
        <h4>Indirect evidence</h4>
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Comparison</th>
              <th>Number of Studies</th>
              {{#if hasStudyLimitations}}
                <th>
                  Study Limitations 
                <br>
                  Rule: {{studyLimitationsRule.label}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
          {{#each indirectRows}} 
            <tr>
              <th scope="row">
                {{{armA}}} vs {{{armB}}}
              </th>
              <td>
                --
              </td>
              {{#if ../hasStudyLimitations}}
                <td {{# if studyLimitation.customized}} class='customized'{{/if}}>
                  {{studyLimitation.label}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>

    <!-- <h4> -->
    <!--   Indirect evidence -->
    <!-- </h4> -->
    <!-- <ul> -->
    <!--   {{#each indirectRows}}  -->
    <!--     <li> -->
    <!--       {{{id}}} -->
    <!--       <button onClick="Actions.Report.testAction(Model.getState())"> Test Action </button> -->
    <!--     </li> -->
    <!--   {{/each}} -->
    <!-- </ul> -->
