  <!-- <ul>
  {{#each model.project.contributionMatrices}}
  <li>
    {{MAModel}}
    {{sm}}
    {{matrix}}
    {{isDefault}}
  </li>
  {{/each}}
</ul> -->
  {{#if currentCM.matrix}}
    <h4>
      Contribution Matrix:
    {{currentCM.MAModel}}
    {{currentCM.sm}}
  </h4>
    <br>
  {{else}}
    <h4>
      Please Select Contribution Matrix
      <br>
    </h4>
  {{/if}}
  {{#if hasSelectedRob}}
  <h4>
  Rob selected!
  </h4>
  {{else}}
    <h4>
      Please set Risk of Bias rule
    </h4>
    <br>
  {{/if}}
{{#if chartReady}}
READY
<div id="chartContainer" class="well">
  <canvas id='barChart' width='600' height="600"></canvas>
</div>
{{/if}}
