<blockquote id="conMatrixTitleCont" class='col-xs-12'>
<h3 id="contMatTitle">Define your analysis</h3>
    <div class='form-inline pull-right col-xs-12'>
        {{#each controls}}
          <div class="form-inline  conMatControls">
            {{#if_eq type "radio"}}
              <label class='controls-title mr-sm-2'>{{title}}</label>
                {{#each selections}}
                  {{#if isAvailable}}
                    <label  class='mr-sm-2' for="{{value}}">{{label}}
                      <input class='' {{#unless ../../../../isEmpty}} disabled {{/unless}} type="radio" data-param="{{tag}}"
                            data-value="{{value}}" name="{{name}}" value="{{value}}"
                    {{#if isSelected}} checked="checked"{{/if}}/></label>
                  {{/if}}
                {{/each}}
            {{/if_eq}}
            {{#if_eq type "select"}}
              <label class='controls-title'>{{title}}</label>
              <select action="{{action}}" class='controls-container form-control' required>
                  {{#each selections}}
                    {{#if isAvailable}}
                      <option  {{#unless ../../../../isEmpty}} disabled {{/unless}} data-param="{{tag}}" data-value="{{value}}" filter="{{value}}" {{#if isSelected}} selected {{/if}}>
                        {{label}}
                      </option>
                    {{/if}}
                  {{/each}}
              </select>
            {{/if_eq}}
            </div>
        {{/each}}
    </div>
</blockquote>
<blockquote id="conMatrixTitleCont" class='col-xs-12'>
<h3 id="contMatTitle">Select intervention comparisons for evaluation</h3>
    <div class='form-inline pull-right col-xs-12'>
        {{#each controls}}
          <div class="form-inline  conMatControls">
            {{#if_eq type "interventions"}}
                <label class=''>{{title}}</label>
                {{#each selections}}
                  <label class="checkbox-inline" for="{{value}}">
                    <input type="checkbox" data-param="{{tag}}" data-value="{{value}}" value="{{value}}"
                    {{#if isSelected}} checked ="checked"{{/if}}
                    {{#unless ../../../isEmpty}} disabled {{/unless}}
                    />
                    {{label}}
                  </label>
                {{/each}}
                <br>
                <a id="checkAllIntvs"  class="intvs btn btn-default  {{#unless
                  ../../isEmpty }} disabled {{/unless}} ">Check All</a>
                <a id="uncheckAllIntvs" class="intvs btn btn-default  {{#unless
                  ../../isEmpty}} disabled {{/unless}} ">Uncheck All</a>
            {{/if_eq}}
            {{#if_eq type "interventionRules"}}
              <label class=''>{{title}}</label>
              <br>
                {{#each selections}}
                  {{#if isAvailable}}
                    <label  class='' for="{{value}}">{{label}}
                      <input class='' {{#unless ../../../../isEmpty}} disabled {{/unless}} type="radio" data-param="{{tag}}"
                            data-value="{{value}}" name="{{name}}" value="{{value}}"
                    {{#if isSelected}} checked="checked"{{/if}}/></label>
                    <br>
                  {{/if}}
                {{/each}}
            {{/if_eq}}
            </div>
        {{/each}}
    </div>
</blockquote>
{{!-- {{#if listReady}} --}}
  {{!-- <div id='comparisonList' class='col-xs-12'> --}}
    {{!-- <h5> --}}
      {{!-- You have selected the following --}}
      {{!-- <strong>{{numSelectedComparisons}}</strong> comparisons. Confidence in the results will --}}
    {{!-- be graded for: --}}
    {{!-- </h5> --}}
      {{!-- <ul class="list-inline"> --}}
        {{!-- {{#each selectedComparisons}} --}}
        {{!-- <li class=""> --}}
          {{!-- <span class="badge">{{this}}</span> --}}
        {{!-- </li> --}}
      {{!-- {{/each}} --}}
      {{!-- </ul> --}}
    {{!-- <div class="pull-right"> --}}
      {{!-- <strong> --}}
        {{!-- <i class="glyphicon glyphicon-exclamation-sign"></i> --}}
        {{!-- <em>Analysis is performed including all studies</em> --}}
      {{!-- </strong> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
{{!-- {{/if}} --}}
  <div id='' class='col-xs-12'>
      {{#if isLoading}}
        <div id="conMatloader" class="col-md-offset-2 col-md-8 col-xs-12"  aria="downloading contribution matrix" aria-hidden="false">
          <div class='row'>
            <div class='col-xs-1'>
              <div class="loader" id="conMatSpinner" style="font-size:12px">
              </div>
            </div>
            <h4 id="loaderTitle" class="col-xs-11">
              {{headerTitle}}
            </h4>
          </div>
            <div class="row progress">
                <div id="conMatProgressBar" class="progress-bar active"
                  role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                       aria-valuemax="100"
                                                       style="width:{{progress}}%">
                  {{progress}}%
              </div>
          </div>   
        </div>
      {{/if}}
      {{#if isCanceling}}
        Canceling please wait.
      {{/if}}
      {{#if tableReady}}
        <div id="cm-table"></div>
      {{/if}}
  </div>
  {{#if canCreateMatrix}}
    <a id="createMatrixButton"  onClick="Actions.ConMat.createMatrix()"
                                class="btn btn-default " data-content="All fields should be filled" rel="popover" data-placement="bottom" data-trigger="hover">
        Setup your evaluation</a>
  {{/if}}
    {{#if isLoading}}
      <a id="cancelCM" onClick="Actions.ConMat.cancelMatrix()" class="btn btn-default">Cancel!</a>
    {{/if}}
    {{#if tableReady}}
      <a onClick="Actions.ConMat.showContributionMatrix()" class="btn
                                                           table-manipulator btn-default"
        id="showTableBtn">Show Contribution Matrix</a>
      <a onClick="Actions.ConMat.hideContributionMatrix()" class="btn hidden
                                                           table-manipulator btn-default"
        id="hideTableBtn">Hide Contribution Matrix</a>
      <a onClick="Actions.ConMat.downloadCSV()" class="btn btn-default"
        id="downloadAnchorElem">Download Contribution Matrix</a>
      <button class="pull-right btn btn-default btn-pad"
          onClick="Actions.Router.gotoRoute('rob')" >Proceed</button>
      <a id="clearCM" onClick="Actions.ConMat.resetAnalysis()" class="btn
        pull-right btn-default " >Reset your evaluation</a>
    {{/if}}
    <br>
    <br>
