
<!-- <a href='#home' id='logo' class='col-xs-1'> -->
<!--   <img height="50px" src="images/logo.png"/> -->
<!-- </a> -->

<!-- <h4 class="col-md-4 hidden-sm hidden-xs header-title">{{text.headerTitle}}</h4> -->


    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav mainMenu">
      {{#each view.mainMenu}}
        {{#if isAvailable}}
          <li class="{{#if isActive}}active{{/if}}">
            <a action="{{route}}" class="routes navbar-right {{route}}"
              href="#{{route}}">
              {{label}}
            </a>
          </li>
        {{/if}}
      {{/each}}
      </ul>
      <ul class="hidden-sm-down nav navbar-nav evaluation-menu">
        {{#each view.evalMenu}}
          {{#if isAvailable}}
          <li {{#if isActive}}class="active"{{/if}}>
              <a action="{{route}}" class="routes navbar-left {{route}}"
                href="#{{route}}">
                {{label}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      <!-- <ul class="nav navbar-nav evaluation-menu"> -->
      <!--   <li class='hidden-md-up'> -->
      <!--     <a href="#" class="dropdown-toggle" data-toggle="dropdown" -->
      <!--       role="button" aria-haspopup="true" aria-expanded="false">Evaluation Domains -->
      <!--       <span class="caret"></span></a> -->
      <!--     <ul class="dropdown-menu"> -->
      <!--       {{#each evalMenu}} -->
      <!--         <li> -->
      <!--           <a action="{{route}}" class="routes navbar-left {{route}}" -->
      <!--             href="#{{route}}"> -->
      <!--             {{label}} -->
      <!--           </a> -->
      <!--         </li> -->
      <!--       {{/each}} -->
      <!--     </ul> -->
      <!--   </li> -->
      <!-- </ul> -->
    </nav>
