<nav class="navbar navbar-default">
  <div class="mainMenu-container">

    <!-- extra start -->
    <div class="cinema-logo">
      <a onClick="Actions.Router.gotoRoute('{{route}}')" href="#{{route}}" >
        <img class="cinema-logo" src="images/logo.svg">
      </a>
    </div>
    <!-- extra end -->
<div class="docmenu">
  <ul class="nav navbar-nav mainMenu">
  {{#each view.mainMenu}}
      <li class="{{#if isActive}}active{{/if}} {{#unless isAvailable}}disabled{{/unless}}">
        <a  onClick="Actions.Router.gotoRoute('{{route}}')" action="{{route}}" class="routes navbar-right {{route}}" href="#{{route}}">
          {{{label}}}
        </a>
      </li>
  {{/each}}
  </ul>
</div>
</div>
<div class="list_container">
  <ol class="hidden-sm-down nav navbar-nav evaluation-menu">
    {{#each view.evalMenu}}
      <li class="{{#if isActive}}active{{/if}} {{#unless isAvailable}}disabled{{/unless}}">
        <a  onClick="Actions.Router.gotoRoute('{{route}}')" action="{{route}}" class="routes navbar-right {{route}}" href="#{{route}}">
          {{{label}}}
        </a>
      </li>
    {{/each}}
  </ol>
</div>
</nav>
<div class="visible-print">
  <h2>
    "Confidence In Network Meta Analysis - CINeMA 2.0.0 printer friendly version "
    <b>
      {{view.title}}
    </b>
  </h2>
</div>
