<nav class="navbar navbar-default">
  <ul class="nav navbar-nav mainMenu">
  {{#each view.mainMenu}}
      <li class="{{#if isActive}}active{{/if}} {{#unless isAvailable}}disabled{{/unless}}">
        <a  onClick="Actions.Router.gotoRoute('{{route}}')" action="{{route}}" class="routes navbar-right {{route}}" href="#{{route}}">
          {{label}}
        </a>
      </li>
  {{/each}}
  </ul>
  <ul class="hidden-sm-down nav navbar-nav evaluation-menu">
    {{#each view.evalMenu}}
      <li class="{{#if isActive}}active{{/if}} {{#unless isAvailable}}disabled{{/unless}}">
        <a  onClick="Actions.Router.gotoRoute('{{route}}')" action="{{route}}" class="routes navbar-right {{route}}" href="#{{route}}">
          {{label}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
