<!-- <div id='hetercontainer' class='col-xs-12'> -->
<div class="container-fluid">
  <blockquote id="refvals" class='col-xs-12'>
    <h3>
        Heterogeneity
            <span
              onclick="Actions.alertify().message('The rules for judging heterogeneity are based on the agreement of conclusions based on confidence and prediction intervals in relation to the null effect and the clinically important effect on the opposite direction to the point estimate. Details can be found in Section 4.5 of the detailed manual.')" class="info pull-right   glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </h3>
    <ul class='col-xs-12 imprecisionList'>
      <li>
        <ul class="list-inline">
          <li>
            <label class='controls-title mr-sm-2'>
              Define clinically important size of effect: {{smtitle}}
            </label>
          </li>
          <li>
            <input id="clinImpInput" name="clinImp" value="{{clinImp}}"
               class='mr-sm-2 form-inline form-control' {{#if clinImpReady}}
               disabled {{/if}} />
          </li>
          <li>
            <button onClick="Actions.Heterogeneity.setClinImp()" class="btn btn-default
              {{#if clinImpReady}} disabled{{/if}}">Set</button>
            <button onClick="Actions.Heterogeneity.resetClinImp('{{emType}}')" class="btn btn-default
              {{#unless clinImpReady}} disabled{{/unless}}">Reset</button>
            <span
              onclick="Actions.alertify().message('The clinically important size of effect is the same as in “Imprecision” and “Incoherence”; if already specified it will automatically appear here. Otherwise, specify it here and it will be copied to the “Imprecision” and “Incoherence” domains. Press “Reset” to reset the clinically important effect size; note that this will affect the “Imprecision” and “Incoherence” domains too. Details can be found in Section 4.5 of the detailed manual.')" class="info glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </li>
        </ul>
      </li>
      <li class="comments">
          Relative effect estimates below <strong> {{clinImpLow}} </strong> and
          above
          <strong> {{clinImpHigh}} </strong>
          are considered clinically important.
      </li>
      <li>
        <span class="comments">
          Importance of heterogeneity depends on the variability of effects in
            relation to a clinically important size of effect
          </span>
      </li>
    </ul>
    <button  id="referenceValuesTitle" class="btn btn-default" data-toggle="collapse" data-target="#rfvSelector">
    Between-study variance estimates for
      each direct comparison along with reference intervals
    </button>
    <div id="rfvSelector" class='form-inline col-xs-12 collapse'>
      <label>Select type of intervention and outcome 
        <span class="comments">optional</span>
      </label>
      <ul class='list-inline'>
        {{#unless rfvReady}}
          <li>
          <button
          onClick="Actions.Heterogeneity.selectAllInterventionTypes('Pharmacological')" class="pull-right btn btn-default
          ">All Pharmacological</button>
          </li>
          <li>
          <button onClick="Actions.Heterogeneity.selectAllInterventionTypes('Non-pharmacological')" class="pull-right btn btn-default
          ">All Non-pharmacological</button>
          </li>
          <li>
          <button onClick="Actions.Heterogeneity.deselectIntTypes()" class="pull-right btn btn-default
          ">Deselect all</button>
          </li>
        {{/unless}}
        <ul class='list-inline'>
          {{#each treatments}}
          <li class='well compRobSelector {{#if customized}} customized {{/if}}'
        id="comp-{{{id.value0}}}">
            <ul class='list-inline'>
              <li>
            {{{label}}}:
              </li>
              <li>
                <select
                  onChange="Actions.Heterogeneity.selectIntervensionType(this)"
                  {{#if ../rfvReady}}
                    disabled
                  {{/if}} class='mr-sm-2 form-inline form-control'>
                  {{#each interventionType}}
                    <option value="{{{../label}}}σδel{{id}}" {{#if isDisabled}} disabled {{/if}}  {{#if isActive}} selected{{/if}}>
                      {{{label}}}
                    </option>
                  {{/each}}
                </select>
              </li>
            </ul>
          </li>
          {{/each}}
        </ul>
        </li>
        {{#each rfvParams}}
          <li>
            {{#if isAvailable}}
              <label class='controls-title mr-sm-2'>
                {{label}}
              </label>
              <select data-id="{{id}}"
                      onChange="Actions.Heterogeneity.selectRFVparam(this)" {{#if ../../rfvReady}}
                disabled {{/if}} class='mr-sm-2 form-inline form-control'>
                {{#each selections}}
                  {{#if isAvailable}}
                    <option value="{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                    {{label}}
                    </option>
                  {{/if}}
                {{/each}}
              </select>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      <div class='buttoner col-xs-12'>
        <br>
        {{#if clinImpReady}}
          <button onClick="Actions.Heterogeneity.fetchRFV()" class="
            btn btn-default {{#unless canFetch}} disabled{{/unless}}">
            View
          </button>
        {{/if}}
        <button onClick="Actions.Heterogeneity.resetRFV()" class="btn btn-default
          {{#unless rfvReady}} disabled{{/unless}}">Reset</button>
      </div>
    </div>
  </blockquote>
  {{#if clinImpReady}}
    <blockquote id="heterogeneityBoxes" class='col-xs-12'>
      <div class='form-inline'>
      The estimated value of between-study variance for the network
      meta-analysis is
      <strong>{{rfvsTauSquare}}</strong>
          {{#if customized}}
            <br>
            <label class=' controls-title mr-sm-2'>
              {{numberCustomized}}
              {{#if customizedSingular}}
                {{text.customizedTitleSingular}}
              {{else}}
                {{text.customizedTitlePlural}}
              {{/if}}
            </label>
          {{/if}}
      </div>
      {{#if heterReady}}
        <button onClick="Actions.Heterogeneity.resetHeters()" class="btn btn-default
          {{#unless heterReady}} disabled{{/unless}}"> {{text.resetButton}} </button>
        <button class="btn btn-default btn-pad"
          onClick="Actions.Heterogeneity.proceed()" >Proceed</button>
      {{/if}}
    </blockquote>
    <div id="heterBoxes" class='col-xs-12 well collapse in'>
      <ul class='list-inline'>
        {{#each boxes}}
        <li  style='border-color:{{color}}' class='well compRobSelector {{#if customized}} customized {{/if}}' id="comp-{{id}}">
            <ul>
              <li>
                <strong>
                  Comparison
                </strong>
                <span class='pull-right'>
                  <strong>
                    {{id}}
                </strong></span>
              </li>
              <li>
                <strong>
                  Evidence:
                  {{#if isMixed}}{{../../text.mixedtitle}}{{else}}{{../../text.indirecttitle}}{{/if}}
                </strong>
                  <hr>
              </li>
              <li>
               NMA estimate: <strong class='pull-right'>{{nmaEffect}}</strong>
              </li>
              {{#if ../../rfvReady}}
                {{#if tauSquare}}
                  <li class="align-right">
                    <strong>
                      Between-study heterogeneity for each direct comparison
                    </strong>
                  </li>
                  <li>
                    I<sup>2</sup>: <strong class='pull-right'>{{ISquare}}</strong>
                  </li>
                  <li>
                    Estimated τ<sup>2</sup>: <strong class='pull-right'>{{tauSquare}}</strong>
                    <hr>
                  </li>
                {{/if}}
                  <li class="align-right">
                    <strong>
                      Reference Values for τ<sup>2</sup>
                    </strong>
                  </li>
                {{#each quantiles}}
                  <li class=" {{#unless isActive}} robLabel{{/unless}}">
                    {{{label}}}:<strong class='pull-right'>{{value}}</strong>
                  </li>
                {{/each}}
              {{/if}}
                  <li>
              {{#if ../../rfvReady}}
                  <hr>
              {{/if}}
                  <strong>
                    95% intervals for NMA estimate
                  </strong>
                </li>
                <li>
                  Confidence interval: <strong class='pull-right'>({{CIf}},{{CIs}})</strong>
                </li>
                {{!-- <li> --}}
                 {{!-- Crosses: <strong class='pull-right'>{{crosses}}</strong> --}}
                {{!-- </li> --}}
                <li>
                  Prediction interval: <strong class='pull-right'>({{PrIf}},{{PrIs}})</strong>
                  <hr>
                </li>
                <li>
                  <em>{{{crossestext}}}</em>
                </li>
                <!-- <li> -->
                <!--   Null effect interval: <strong -->
                <!--     class='pull-right'>({{../clinImpLow}},{{../clinImpHigh}})</strong> -->
                <!-- </li> -->
                <hr>
              <li>
              {{../../text.judgementField}}
                <select onChange="Actions.Heterogeneity.selectIndividual(this)" class='mr-sm-2 controls-container'>
                  {{#each levels}}
                  <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                        {{label}}
                    </option>
                  {{/each}}
                </select>
              </li>
            </ul>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
<!-- </div> -->
