<!-- <div id='hetercontainer' class='col-xs-12'> -->
  <blockquote id="refvals" class='col-xs-12'>
    <h4 id="referenceValuesTitle">Reference Values for τ<sup>2</sup></h4>
    <div class='form-inline col-xs-12'>
      <ul class='list-inline'>
        {{#each rfvParams}}
          <li>
            {{#if isAvailable}}
              <label class='controls-title mr-sm-2'>
                {{label}}
              </label>
              <select data-id="{{id}}"
                      onChange="Actions.Heterogeneity.selectRFVparam(this)" {{#if ../../rfvReady}}
                disabled {{/if}} class='mr-sm-2 form-inline form-control'>
                {{#each selections}}
                  {{#if isAvailable}}
                    <option value="{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                    {{label}}
                    </option>
                  {{/if}}
                {{/each}}
              </select>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{#if rfvReady}}
    {{#unless heterReady}}
      <div class='col-xs-12'>
        <ul class='list-inline'>
          <li>
              <label class='controls-title mr-sm-2'>
        Values greater than the
              </label>
          </li>
          <li>
          <select onChange="Actions.Heterogeneity.selectHetersRule(this)" {{#if heterReady}}
            disabled {{/if}} class='mr-sm-2 form-inline form-control'>
            {{#each rules}}
              <option value="{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                {{{label}}}
              </option>
            {{/each}}
          </select>
          </li>
          <li>
            <label class='controls-title mr-sm-2'>
          define large heterogeneity
            </label>
          </li>
        </ul>
      </div>
    {{/unless}}
    <div class='col-xs-12 rftable'>
      <table class='table'>
        <tr><th colspan="3">Expected heterogeneity</th></tr>
        <tr>
          <th>25<sup>th</sup> quantile</th>
          <th>median</th>
          <th>75<sup>th</sup> quantile</th>
        </tr>
        <tr>
          <td>{{rfvsFirst}}</td>
          <td>{{rfvsMedian}}</td>
          <td>{{rfvsThird}}</td>
        </tr>
      </table>
    </div>
    {{/if}}
    <div class='buttoner col-xs-12'>
      <button onClick="Actions.Heterogeneity.fetchRFV()" class="pull-right btn btn-default
        {{#unless canFetch}} disabled{{/unless}}">Fetch Values</button>
      <button onClick="Actions.Heterogeneity.resetRFV()" class="pull-right btn btn-default
        {{#unless rfvReady}} disabled{{/unless}}">Reset Values</button>
    </div>
  </blockquote>
  {{#if rfvReady}}
    <blockquote id="heterogeneityBoxes" class='col-xs-12'>
      <div class='form-inline'>
          <label class=' controls-title mr-sm-2'>
            {{text.selectionTitle}}
          </label>
          {{#if heterReady}}
            <label class=' controls-title mr-sm-2'>
              {{text.defaultTitle}}
              {{{ruleName}}}
            </label>
            {{#if customized}}
              <br>
              <label class=' controls-title mr-sm-2'>
                {{numberCustomized}}
                {{#if customizedSingular}}
                  {{text.customizedTitleSingular}}
                {{else}}
                  {{text.customizedTitlePlural}}
                {{/if}}
              </label>
            {{/if}}
          {{/if}}
        <button onClick="Actions.Heterogeneity.resetHeters()" class="pull-right btn btn-default
          {{#unless heterReady}} disabled{{/unless}}"> {{text.resetButton}} </button>
      </div>
    </blockquote>
    <div id="heterBoxes" class='col-xs-12 well collapse in'>
    <blockquote class='col-xs-12'>
    <div class=' rftable'>
      <table class='table'>
          <tr><th>Estimated heterogeneity</th><tr>
          <tr><th>τ<sup>2</sup><sub>common in
                NMA</sub></th></tr>
          <tr><td>{{rfvsTauSquare}}</td></tr>
      </table>
    </div>
    </blockquote>
      <ul class='list-inline'>
        {{#each boxes}}
        <li class='well compRobSelector {{#if customized}} customized {{/if}}' id="comp-{{id}}">
            <ul>
              <li>
                <strong>
                  {{#if isMixed}}{{../../text.mixedtitle}}{{else}}{{../../text.indirecttitle}}{{/if}}
                </strong>
                <span class='pull-right'>
                  <strong>
                    {{id}}
                </strong></span>
                  <hr>
              </li>
              {{#if isMixed}}
                <li>
                  τ<sup>2</sup>: <strong class='pull-right'>{{tauSquare}}</strong>
                </li>
                <li>
                  I<sup>2</sup>: <strong class='pull-right'>{{ISquare}}</strong>
                  <hr>
                </li>
              {{/if}}
                <li>
                  CI: <strong class='pull-right'>({{CIf}},{{CIs}})</strong>
                </li>
                <li>
                  PrI: <strong class='pull-right'>({{PrIf}},{{PrIs}})</strong>
                  <hr>
                </li>
              {{#each rules}}
              <li class=" {{#unless isActive}} robLabel{{/unless}}">
                  {{{label}}}:<strong class='pull-right'>{{levelLabel}}</strong>
               </li>
              {{/each}}
                  <hr>
              <li>
              {{../../text.judgementField}} 
                <!-- <select onChange="Actions.Heterogeneity.selectIndividual(this)" -->
                <select 
                  {{#unless ../../heterReady}} disabled {{/unless}} class='mr-sm-2 controls-container'>
                  {{#each levels}}
                  <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                        {{label}}
                    </option>
                  {{/each}}
                </select>
              </li>
            </ul>
        {{/each}}
      </ul>
    </div>
  {{/if}}
<!-- </div> -->
