<!-- <div id='hetercontainer' class='col-xs-12'> -->
  <blockquote id="refvals" class='col-xs-12'>
    <ul class='list-inline col-xs-12'>
      <li>
            Importance of heterogeneity depends on the variability of effects in
            relation to a clinically important size of effect
            <br>
          <label class='controls-title mr-sm-2'>
            Define clinically important size of effect: {{smtitle}}
          </label>
      </li>
      <li>
        <input id="clinImpInput" name="clinImp" value="{{clinImp}}"
           class='mr-sm-2 form-inline form-control' {{#if clinImpReady}}
             disabled {{/if}}>
      </li>
      {{#if clinImpReady}}
        <li>
            Effects lower than <strong> {{clinImpLow}}</strong> and larger than
            <strong> {{clinImpHigh}} </strong>
            are considered to be clinically important
        </li>
        <li>
          <button onClick="Actions.Heterogeneity.resetClinImp('{{emType}}')" class="btn btn-default
            {{#unless clinImpReady}} disabled{{/unless}}">Reset</button>
        </li>
      {{/if}}
    </ul>
    <h4 id="referenceValuesTitle">To view between-study variance estimates for
      each direct comparison along with reference intervals, select type of
      intervention and outcome</h4>
    <div class='form-inline col-xs-12'>
      <ul class='list-inline'>
        {{#unless rfvReady}}
          <li>
          <button
          onClick="Actions.Heterogeneity.selectAllInterventionTypes('Pharmacological')" class="pull-right btn btn-default
          ">All Pharmacological</button>
          </li>
          <li>
          <button onClick="Actions.Heterogeneity.selectAllInterventionTypes('Non-pharmacological')" class="pull-right btn btn-default
          ">All Non-pharmacological</button>
          </li>
          <li>
          <button onClick="Actions.Heterogeneity.deselectIntTypes()" class="pull-right btn btn-default
          ">Deselect all</button>
          </li>
          <li>
        {{/unless}}
        <ul class='list-inline'>
          {{#each treatments}}
          <li class='well compRobSelector {{#if customized}} customized {{/if}}'
        id="comp-{{{id.value0}}}">
            <ul class='list-inline'>
              <li>
            {{{label}}}:
              </li>
              <li>
                <select
                  onChange="Actions.Heterogeneity.selectIntervensionType(this)" 
                  {{#if ../rfvReady}}
                    disabled 
                  {{/if}} class='mr-sm-2 form-inline form-control'>
                  {{#each interventionType}}
                    <option value="{{{../label}}}σδel{{id}}" {{#if isDisabled}} disabled {{/if}}  {{#if isActive}} selected{{/if}}>
                      {{{label}}}
                    </option>
                  {{/each}}
                </select>
              </li>
            </ul>
          </li>
          {{/each}}
        </ul>
        </li>
        {{#each rfvParams}}
          <li>
            {{#if isAvailable}}
              <label class='controls-title mr-sm-2'>
                {{label}}
              </label>
              <select data-id="{{id}}"
                      onChange="Actions.Heterogeneity.selectRFVparam(this)" {{#if ../../rfvReady}}
                disabled {{/if}} class='mr-sm-2 form-inline form-control'>
                {{#each selections}}
                  {{#if isAvailable}}
                    <option value="{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                    {{label}}
                    </option>
                  {{/if}}
                {{/each}}
              </select>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class='buttoner col-xs-12'>
      <button onClick="Actions.Heterogeneity.fetchRFV()" class="pull-right btn btn-default
        {{#unless canFetch}} disabled{{/unless}}">Confirm</button>
      <button onClick="Actions.Heterogeneity.resetRFV()" class="pull-right btn btn-default
        {{#unless rfvReady}} disabled{{/unless}}">Reset Values</button>
    </div>
  </blockquote>
  {{#if rfvReady}}
    <blockquote id="heterogeneityBoxes" class='col-xs-12'>
      <div class='form-inline'>
          <label class=' controls-title mr-sm-2'>
            {{text.selectionTitle}}
          </label>
          {{#if customized}}
            <br>
            <label class=' controls-title mr-sm-2'>
              {{numberCustomized}}
              {{#if customizedSingular}}
                {{text.customizedTitleSingular}}
              {{else}}
                {{text.customizedTitlePlural}}
              {{/if}}
            </label>
          {{/if}}
      </div>
    <button onClick="Actions.Heterogeneity.resetHeters()" class="pull-right btn btn-default
          {{#unless heterReady}} disabled{{/unless}}"> {{text.resetButton}} </button>
    </blockquote>
    <div id="heterBoxes" class='col-xs-12 well collapse in'>
    <blockquote class='col-xs-12'>
      The estimated value of between-study variance for the network
      meta-analysis is
      <strong>{{rfvsTauSquare}}</strong>
    </blockquote>
      <ul class='list-inline'>
        {{#each boxes}}
        <li  style='border-color:{{color}}' class='well compRobSelector {{#if customized}} customized {{/if}}' id="comp-{{id}}">
            <ul>
              <li>
                <strong>
                  Comparison
                </strong>
                <span class='pull-right'>
                  <strong>
                    {{id}}
                </strong></span>
              </li>
              <li>
                <strong>
                  Evidence:
                  {{#if isMixed}}{{../../text.mixedtitle}}{{else}}{{../../text.indirecttitle}}{{/if}}
                </strong>
                  <hr>
              </li>
              {{#if isMixed}}
                <li class="align-right">
                  <strong>
                    Between-study heterogeneity for each direct comparison
                  </strong>
                </li>
                <li>
                  I<sup>2</sup>: <strong class='pull-right'>{{ISquare}}</strong>
                </li>
                <li>
                  Estimated τ<sup>2</sup>: <strong class='pull-right'>{{tauSquare}}</strong>
                  <hr>
                </li>
              {{/if}}
                <li class="align-right">
                  <strong>
                    Reference Values for τ<sup>2</sup>
                  </strong>
                </li>
              {{#each quantiles}}
                <li class=" {{#unless isActive}} robLabel{{/unless}}">
                  {{{label}}}:<strong class='pull-right'>{{value}}</strong>
                </li>
              {{/each}}
                <li>
              <hr>
                  <strong>
                    95% intervals for NMA estimate
                  </strong>
                </li>
                <li>
                  Confidence interval: <strong class='pull-right'>({{CIf}},{{CIs}})</strong>
                </li>
                <li>
                  Prediction interval: <strong class='pull-right'>({{PrIf}},{{PrIs}})</strong>
                </li>
                <li>
                  Null effect interval: <strong
                    class='pull-right'>({{../clinImpLow}},{{../clinImpHigh}})</strong>
                </li>
                <hr>
              <li>
              {{../../text.judgementField}} 
                <select onChange="Actions.Heterogeneity.selectIndividual(this)" class='mr-sm-2 controls-container'>
                  {{#each levels}}
                  <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled {{/if}} {{#if isActive}} selected{{/if}}>
                        {{label}}
                    </option>
                  {{/each}}
                </select>
              </li>
            </ul>
        {{/each}}
      </ul>
    </div>
  {{/if}}
<!-- </div> -->
