<div class="container-fluid">
<blockquote id="refvals" class='col-xs-12'>
    {{!-- <h4>{{text.title}} --}}
     {{!-- {{text.subTitle}} --}}
    {{!-- </h4> --}}
    <h4>
  Global test based on a random-effects design-by-treatment interaction model
      </h4>
      <strong>
      <ul class='list-inline font-weight-bold'>
        <li class="font-weight-bold">{{{text.QstatisticLabel}}}:
          {{rfvsq}}
        </li>
        <li class="font-weight-bold">({{rfvsdf}} {{text.df}}),
        </li>
        <li class="font-weight-bold">{{text.pvalueLabel}}:
          {{rfvsp}}
        </li>
      </ul>
      </strong>
</blockquote>
<div id="IncoherenceBoxes" class='col-xs-12 well collapse in'>
  <blockquote>
    <h4>{{text.boxesTitle}}: {{text.boxesSubTitle}}
      </h4>
      {{#if customized}}
        <label class='controls-title'>
        {{numberCustomized}}
        {{#if customizedSingular}}
          {{text.customizedTitleSingular}}
        {{else}}
          {{text.customizedTitlePlural}}
        {{/if}}
        </label>
      {{/if}}
    <button onClick="Actions.Incoherence.resetIncoherence()" class="btn btn-default"> {{text.resetButton}} </button>
    <button class="btn btn-default btn-pad"
          onClick="Actions.Router.gotoRoute('indirectness')" >Proceed</button>
  </blockquote>
  <ul class='list-inline'>
    {{#each boxes}}
      <li style='border-color:{{color}}' class='well compRobSelector {{#if customized}} customized {{/if}}' id="comp-{{id}}">
        <ul>
          <li  style="clear:both" >
            <strong>
              Comparison
            </strong>
            <span class='pull-right'>
              <strong>
                {{id}}
              </strong>
            </span>
          </li>
          <li  style="clear:both" >
            <strong>
              Evidence:
              {{#if isMixed}}{{../../text.mixedtitle}}{{/if}}
              {{#if isDirect}}{{../../text.directtitle}}{{/if}}
              {{#if isIndirect}}{{../../text.indirecttitle}}{{/if}}
            </strong>
            <hr>
          </li>
          {{#if isMixed}}
            <li  style="clear:both" >
              {{../../text.nma}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{nma}}({{nmaL}},{{nmaU}})</strong>
            </li>
            <li  style="clear:both" >
              {{../../text.direct}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{direct}}({{directL}},{{directU}})</strong>
            </li>
            <li  style="clear:both" >
              {{../../text.indirect}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{indirect}}({{indirectL}},{{indirectU}})</strong>
            </li>
            <li>
              Direct contribution: <strong
                class='pull-right'>{{dcont}}%</strong>
              <hr>
            </li>
            <li>
            <ul>
            <li>
              <strong>
              {{../../text.IFLabel}}
              </strong>
            </li>
            <li>
              {{../../boxSideTitle}}: <strong class='pull-right'>{{sideIF}}({{sideIFLower}},{{sideIFUpper}})</strong>
            </li>
            <li  style="clear:both" >
              {{../../text.pvalueLabel}}: <strong class='pull-right'>{{pvalue}}</strong>
            </li>
            </ul>
              <hr>
            </li>
          {{/if}}
          {{#if isDirect}}
            <ul>
            <li  style="clear:both" >
              {{../../text.direct}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{direct}}({{directL}},{{directU}})</strong>
            </li>
            <li>
             <strong> {{../../text.IFLabel}}: </strong>
             Not applicable
            <hr>
            </li>
            </ul>
          {{/if}}
          {{#if isIndirect}}
            <ul>
            <li  style="clear:both" >
              {{../../text.indirect}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{indirect}}({{indirectL}},{{indirectU}})</strong>
            </li>
            <li>
             <strong> {{../../text.IFLabel}}: </strong>
             Not applicable
            <hr>
            </li>
            </ul>
          {{/if}}
          <li>
          {{../text.judgementField}}
            <select onChange="Actions.Incoherence.selectIndividual(this)"
               class='mr-sm-2 controls-container'>
              {{#each levels}}
              <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled
              {{/if}} {{#if isActive}} selected class='oijfjf'{{/if}}>
                    {{label}}
                </option>
              {{/each}}
            </select>
          </li>
        </ul>
    {{/each}}
  </ul>
</div>
</div>
