<div class="container-fluid">
  <blockquote id="refvals" class='col-xs-12'>
    <h3>
        Incoherence
    </h3>
    <ul class='col-xs-12 imprecisionList'>
      <li>
        <ul class="list-inline">
          <li>
            <label class='controls-title mr-sm-2'>
              Define clinically important size of effect: {{smtitle}}
            </label>
          </li>
          <li>
            <input id="clinImpInput" name="clinImp" value="{{clinImp}}"
               class='mr-sm-2 form-inline form-control' {{#if clinImpReady}}
               disabled {{/if}} />
          </li>
          <li>
            <button onClick="Actions.Incoherence.setClinImp()" class="btn btn-default
              {{#if clinImpReady}} disabled{{/if}}">Set</button>
            <button onClick="Actions.Incoherence.resetClinImp('{{emType}}')" class="btn btn-default
              {{#unless clinImpReady}} disabled{{/unless}}">Reset</button>
          </li>
        </ul>
      </li>
      <li class="comments">
          Effects lower than <strong> {{clinImpLow}} </strong> and larger than
          <strong> {{clinImpHigh}} </strong>
          are considered to be clinically important
      </li>
      <li>
        <span class="comments">
          Importance of Incoherence depends on the variability of direct and
          indirect effects in
            relation to a clinically important size of effect
          </span>
      </li>
    </ul>
</blockquote>
{{#if clinImpReady}}
<blockquote id="refvals" class='col-xs-12'>
    {{!-- <h4>{{text.title}} --}}
     {{!-- {{text.subTitle}} --}}
    {{!-- </h4> --}}
    <h4>
  Global test based on a random-effects design-by-treatment interaction model
      </h4>
      <strong>
      <ul class='list-inline font-weight-bold'>
        <li class="font-weight-bold">{{{text.QstatisticLabel}}}:
          {{rfvsq}}
        </li>
        <li class="font-weight-bold">({{rfvsdf}} {{text.df}}),
        </li>
        <li class="font-weight-bold">{{text.pvalueLabel}}:
          {{rfvsp}}
        </li>
      </ul>
      </strong>
</blockquote>
<div id="IncoherenceBoxes" class='col-xs-12 well collapse in'>
  <blockquote>
    <h4>{{text.boxesTitle}}: {{text.boxesSubTitle}}
      </h4>
      {{#if customized}}
        <label class='controls-title'>
        {{numberCustomized}}
        {{#if customizedSingular}}
          {{text.customizedTitleSingular}}
        {{else}}
          {{text.customizedTitlePlural}}
        {{/if}}
        </label>
      {{/if}}
    <button onClick="Actions.Incoherence.resetIncoherence()" class="btn btn-default"> {{text.resetButton}} </button>
    <button class="btn btn-default btn-pad"
          onClick="Actions.Incoherence.proceed()" >Proceed</button>
  </blockquote>
  <ul class='list-inline'>
    {{#each boxes}}
      <li style='border-color:{{color}}' class='well compRobSelector
        incoherencebox {{#if customized}} customized {{/if}}' id="comp-{{id}}">
        <ul>
          <li  style="clear:both" >
            <strong>
              Comparison
            </strong>
            <span class='pull-right'>
              <strong>
                {{id}}
              </strong>
            </span>
          </li>
          <li  style="clear:both" >
            <strong>
              Evidence:
              {{#if isMixed}}{{../../text.mixedtitle}}{{/if}}
              {{#if isDirect}}{{../../text.directtitle}}{{/if}}
              {{#if isIndirect}}{{../../text.indirecttitle}}{{/if}}
            </strong>
            <hr>
          </li>
          {{#if isMixed}}
            <li  style="clear:both" >
              {{../../text.nma}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{nma}}({{nmaL}},{{nmaU}})</strong>
            </li>
            <li  style="clear:both" >
              {{../../text.direct}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{direct}}({{directL}},{{directU}})</strong>
            </li>
            <li  style="clear:both" >
              {{../../text.indirect}} {{../../measureSuffix}}: <strong
                 class='pull-right'>{{indirect}}({{indirectL}},{{indirectU}})</strong>
            </li>
            <li>
              Direct contribution: <strong
                class='pull-right'>{{dcont}}%</strong>
            </li>
            <hr>
            <li>
              <ul>
              <li>
                <strong>
                {{../../text.IFLabel}}
                </strong>
              </li>
              <li>
                {{../../boxSideTitle}}: <strong class='pull-right'>{{sideIF}}({{sideIFLower}},{{sideIFUpper}})</strong>
              </li>
              <li  style="clear:both" >
                {{../../text.pvalueLabel}}: <strong class='pull-right'>{{pvalue}}</strong>
              </li>
              </ul>
              <hr>
            </li>
          {{/if}}
          {{#if isDirect}}
            <li>
              <ul>
              <li  style="clear:both" >
                {{../../text.direct}} {{../../measureSuffix}}: <strong
                   class='pull-right'>{{direct}}({{directL}},{{directU}})</strong>
              </li>
              <li>
               <strong> {{../../text.IFLabel}}: </strong>
               Not applicable
              <hr>
              </li>
              </ul>
            </li>
          {{/if}}
          {{#if isIndirect}}
            <li>
              <ul>
              <li  style="clear:both" >
                {{../../text.indirect}} {{../../measureSuffix}}: <strong
                   class='pull-right'>{{indirect}}({{indirectL}},{{indirectU}})</strong>
              </li>
              <li>
               <strong> {{../../text.IFLabel}}: </strong>
               Not applicable
              <hr>
              </li>
              </ul>
            </li>
          {{/if}}
          <li>
          {{../text.judgementField}}
            <select onChange="Actions.Incoherence.selectIndividual(this)"
               class='mr-sm-2 pull-right controls-container'>
              {{#each levels}}
              <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled
              {{/if}} {{#if isActive}} selected class='oijfjf'{{/if}}>
                    {{label}}
                </option>
              {{/each}}
            </select>
          </li>
        </ul>
    {{/each}}
  </ul>
</div>
{{/if}}
</div>
