<blockquote id="refvals" class='col-xs-12'>
  <h4 id="referenceValuesTitle">{{text.title}}</h4>
  <h5 id="">{{text.subTitle}}</h5>
  <div class='col-xs-12 rftable'>
    <table class='table'>
      <tr>
        <th>{{text.QstatisticLabel}}</th>
        <th>{{text.df}}</th>
        <th>{{text.pvalueLabel}}</th>
      </tr>
      <tr>
        {{#each rfvs}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    </table>
  </div>
  {{#if customized}}
    <br>
    <label class=' controls-title mr-sm-2'>
    {{numberCustomized}}
    {{#if customizedSingular}}
      {{text.customizedTitleSingular}}
    {{else}}
      {{text.customizedTitlePlural}}
    {{/if}}
    </label>
  {{/if}}
  <button onClick="Actions.Incoherence.resetIncoherence()" class="pull-right btn btn-default"> {{text.resetButton}} </button>
</blockquote>
<div id="IncoherenceBoxes" class='col-xs-12 well collapse in'>
<blockquote>
  <h4 >{{text.boxesTitle}}</h4>
  <h5 >{{text.boxesSubTitle}}</h5>
</blockquote>
  <ul class='list-inline'>
    {{#each boxes}}
      <li style='border-color:{{color}}' class='well compRobSelector {{#if customized}} customized {{/if}}' id="comp-{{id}}">
        <ul>
          <li>
            <strong>
              {{#if isMixed}}{{../../text.mixedtitle}}{{/if}}
              {{#if isDirect}}{{../../text.directtitle}}{{/if}}
              {{#if isIndirect}}{{../../text.indirecttitle}}{{/if}}
            </strong>
            <span class='pull-right'>
              <strong>
                {{id}}
              </strong>
            </span>
              <hr>
          </li>
          {{#if isMixed}}
            <li>
            <ul>
            <li>
              {{../../text.IFLabel}}: <strong class='pull-right'>{{sideIF}}({{sideIFLower}},{{sideIFUpper}})</strong>
            </li>
            <li>
              {{../../text.ZLabel}}: <strong class='pull-right'>{{Ztest}}</strong>
            </li>
            <li>
              {{../../text.pvalueLabel}}: <strong class='pull-right'>{{pvalue}}</strong>
            </li>
            </ul>
              <hr>
            </li>
          {{/if}}
          <li>
          {{../text.judgementField}} 
            <select onChange="Actions.Incoherence.selectIndividual(this)"
               class='mr-sm-2 controls-container'>
              {{#each levels}}
              <option value="{{../id}}σδel{{id}}" {{#if isDisabled}} disabled
              {{/if}} {{#if isActive}} selected class='oijfjf'{{/if}}>
                    {{label}}
                </option>
              {{/each}}
            </select>
          </li>
        </ul>
    {{/each}}
  </ul>
</div>
