<div id="NetPlot" class='collapse in'>
  <blockquote id="netplotControls" class='col-xs-12'>
    <div class='pull-right col-xs-12'>
    <h3>Network Plot
      <span id='prinfo'
          onclick="Actions.alertify().message('{{view.info}}')" class="info pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </h3>
      <div class='form-inline'>
        {{#each view.controls}}
          <label class='np-control controls-title mr-sm-2'>{{title}}</label>
          <select data-option="{{tag}}" action="{{action}}" class='mr-sm-2 controls-container
            netplotControl form-control'>
              {{#each selections}}
                {{#if isAvailable}}
                  <option filter="{{value}}" {{#if isActive}}selected{{/if}}>
                    {{label}}
                  </option>
                {{/if}}
              {{/each}}
          </select>
        {{/each}}
        <a class='pull-right cold-sm-12 mr-sm-2 btn btn-default np-control' id='np-save'>Save Plot</a>
        <a class='pull-right cold-sm-12 mr-sm-2 np-redraw btn btn-default
          np-control' action='np-redraw'>Redraw</a>
      </div>
    </div>
  </blockquote>
  <div id="cy" class='col-sm-12 col-md-6'></div>
  <div id="np-table-container" class='col-sm-12 col-md-6 table-container well'>
    <span class="btn-full-screen table-resizer pull-right glyphicon glyphicon-fullscreen" aria="fullscreen table" aria-hidden="true"></span>
    <span style='display:none' class="btn-minimize table-resizer pull-right glyphicon glyphicon-resize-small" aria="minimize table" aria-hidden="true" ></span>
    <div id='np-table' class='table'></div>
  </div>
</div>
