<div class="container-fluid routed" id='project'>
  <div class='projects-container col-xs-12 col-md-offset-4 col-md-4'>

    {{#unless view.hasFile}}
        <h1> A file uploader</h1>
    <div class='well col-xs-12 project-uploader'>
          <span class="prtitle">
            {{{model.text.uploadProject}}}
          </span>
          <span class="pull-left glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          <span id='prinfo' class="info pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </h4>
        <div class="form-group">
          <input onchange="Actions.Project.fetchProject(this)" type="file" id="files" name="file" accept=".csv,.CSV" />
        </div>
        <div class='col-xs-12 col-md-offset-2 col-md-8'>
          A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
            download="diabetes.csv">here</a>. It is a network of six intervention for
          diabetes mellitus by Elliot et.al 
          <br>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/17240286" >W. J. Elliott and P. M. Meyer. Incident diabetes in clinical
            trials of antihypertensive drugs: a network meta-analysis. The Lancet,
            369(9557):201 – 207, 2007</a>
        </div>
    </div>
  {{/unless}}

  {{#if view.hasFile}}
    <div id="project-settings">
        <h1> B project settings</h1>
          <div>
            <ul>
              <li class="list-group-item">
                Filename 
                <span class="badge">{{view.filename}}</span>
              </li>
              <li class="list-group-item active">
                <h4>
                  {{view.projectTitle}}
                </h4>
                <button onClick="Actions.Project.changeName()">edit</button>
              </li>
              <li class="list-group-item">
                Created 
                <span class="badge">{{view.creationDate}}</span>
              </li>
            </ul>
          </div>
          <button  action='clearFile' id='projectClear' class="pull-right btn
            btn-default">
            {{{model.text.clearCurrentProject}}}
          </button>
      </div>
      {{#if view.notRecognized}}
        <h1> Γ field selector </h1>
        <ul>
          <li> File format: <input value="type"/></li>
          <li> Outcome type: <input value="format"/></li>
        </ul>
          {{#if view.hasFormatType}}
            <button class="pull-right btn
              btn-default">
              edit
            </button>
          {{else}}
            <button class="pull-right btn
              btn-default">
              save
            </button>
        {{/if}}
        {{#if hasFormatType}}
          <ul>
            {{#each view.fileFields}}
              <ul class="list-inline">
                <li>
                  {{name}}
                </li>
                <li>
                  {{field}}
                </li>
              </ul>
            {{/each}}
          </ul>
          <ul class="available-fields">
            {{#each view.availableFields}}
              <ul class="list-inline">
                <li>
                  {{name}}
                </li>
                <li>
                  {{optional}}
                </li>
              </ul>
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
        {{#if canProceed}}
          <h1> Δ summary </h1>
          {{#if isReady}}
            <ul id="project-summary" class="list-group">
              <li class="list-group-item">
                <span class="badge">{{view.numStudies}}</span>
                  Studies
              </li>
              <li class="list-group-item">
                <span class="badge">{{view.interventions}}</span>
                  Interventions
              </li>
              <li class="list-group-item">
                <span class="badge">  {{view.comparisons}}</span>
                Comparisons
              </li>
            </ul>
            <button > Proceed </button>
            <button > Edit </button>
          {{else}}
            <button > Save </button>
          {{/if}}
        {{/if}}
    {{/if}}


</div>
