<div class="container-fluid routed" id='project'>
  <div class='projects-container col-xs-12 col-md-offset-2 col-md-8'>

    {{#unless view.hasFile}}
        <h3>File uploader</h3>
    <div class='well col-xs-12 project-uploader'>
          <span class="prtitle">
            {{{model.text.uploadProject}}}
          </span>
          <span class="pull-left glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          <span id='prinfo' class="info pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </h4>
        <div class="form-group">
          <input onchange="Actions.Project.fetchProject(this)" type="file" id="files" name="file" accept=".csv,.CSV" />
        </div>
        <div class='col-xs-12 col-md-offset-2 col-md-8'>
          A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
            download="diabetes.csv">here</a>. It is a network of six intervention for
          diabetes mellitus by Elliot et.al 
          <br>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/17240286">
            W. J. Elliott and P. M. Meyer. Incident diabetes in clinical
            trials of antihypertensive drugs: a network meta-analysis. The Lancet,
            369(9557):201 – 207, 2007</a>
        </div>
    </div>
  {{/unless}}

  {{#if view.hasFile}}
    <h3>Project details</h3>
        <ul>
          <li class="list-group-item">
            <ul class="list-inline">
              <li>
              <h4>
                {{view.projectTitle}}
              </h4>
              </li>
              <li class="pull-right">
              <button onClick="Actions.Project.changeName()" class="btn
                btn-default">
                Rename
              </button>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            Filename 
            <span class="badge">{{view.filename}}.csv</span>
          </li>
          <li class="list-group-item">
            Created 
            <span class="badge">{{view.creationDate}}</span>
          </li>
        </ul>
        <button id="projectClear" class="pull-right btn btn-default">
          Clear Project
        </button>
        {{#if view.hasFormatType}}
          <h3>File format and type</h3>
          <ul>
            <li class="list-group-item">
              Format 
              <span class="badge">{{view.format}}</span>
            </li>
            <li class="list-group-item">
              Type 
              <span class="badge">{{view.type}}</span>
            </li>
          </ul>
          {{#unless view.canProceed}}
            <button onClick="Actions.Project.editFormatType()" class="pull-right btn
              btn-default">
              Reset
            </button>
          {{/unless}}
        {{else}}
        <div id="project-info">
        </div>
        <ul>
          <h3>File format and type</h3>
          {{#unless view.format}}
            <li>
              Format 
            <select onchange="Actions.Project.selectFormat(this)">
                <option value="nothing" disabled="true" {{#unless
                        view.hasSelectedFormat}}selected{{/unless}}>--</option>
              {{#each view.rawFormats}}
                <option value={{this}}
                        {{#if_eq this (../view.selectedFormat) }}
                          selected
                        {{/if_eq}}>
                        {{this}}</option>
              {{/each}}
            </select>
            <ul>
              <li>
                long: Single treatment per row
              </li>
              <li>
                wide: Single comparison per row
              </li>
              <li>
                iv: Inverse variance (Comparison per row)
              </li>
            </ul>
            </li>
          {{/unless}}
          {{#unless view.type}}
            <li>
              Type 
            <select onchange="Actions.Project.selectType(this)">
                <option value="nothing" disabled="true" {{#unless
                        view.hasSelectedType}}selected{{/unless}}>--</option>
              {{#each view.rawTypes}}
                <option value={{this}} 
                        {{#if_eq this (../view.selectedType) }}
                          selected
                        {{/if_eq}}>
                {{this}}</option>
              {{/each}}
            </select>
            </li>
          {{/unless}}
          <ul>
          {{#if view.hasSelectedFormatType}}
            <button onClick="Actions.Project.saveFormatType()" class="pull-right btn
              btn-default">
              Save
            </button>
          {{/if}}
        {{/if}}
        {{#unless view.canProceed}}
        {{#if view.hasFormatType}}
        <h3>Associate columns to fields</h3>
          <ul id="required-columns" class="col-md-6">
            {{#each view.requiredFields}}
            <li>
              <ul class="list-inline">
                <li>
                  {{name}}*
                </li>
                <li>
                  <select
                  onchange="Actions.Project.selectColumn(this,'{{name}}')">
                    {{#each availableColumns}}
                      <option value={{name}} 
                        {{#if isSelected}} selected {{/if}}
                        {{#if isDisabled}} disabled {{/if}}>
                          {{name}}
                      </option>
                    {{/each}}
                  </select>
                </li>
              </ul>
            </li>
            {{/each}}
            {{#each view.optionalFields}}
            <li>
              <ul class='list-inline'>
                <li>
                  {{name}}
                </li>
                <li>
                  <select
                  onchange="Actions.Project.selectColumn(this,'{{name}}')">
                    {{#each availableColumns}}
                      <option value={{name}} 
                        {{#if isSelected}} selected {{/if}}
                        {{#if isDisabled}} disabled {{/if}}>
                          {{name}}
                      </option>
                    {{/each}}
                  </select>
                </li>
              </ul>
            </li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if ../view.allRequiredSelected}}
          <button onClick="Actions.Project.checkFile()" class="pull-right btn
            btn-default">
            Check file
          </button>
        {{/if}}
      {{/unless}}
      {{#if view.canProceed}}
        <h3>Summary</h3>
          <ul id="project-summary" class="list-group">
            <li class="list-group-item">
              <span class="badge">{{view.numStudies}}</span>
                Studies
            </li>
            <li class="list-group-item">
              <span class="badge">{{view.interventions}}</span>
                Interventions
            </li>
            <li class="list-group-item">
              <span class="badge">  {{view.comparisons}}</span>
              Comparisons
            </li>
          </ul>
        {{#if view.isSaved}}
        <button onClick="Actions.Router.gotoRoute('general')" class="pull-right btn
          btn-default">
          Proceed
        </button>
        {{else}}
          <button > Save </button>
        {{/if}}
      {{/if}}
    {{/if}}


</div>
