<div class="container-fluid routed" id='project'>
  <div class='projects-container col-xs-12 col-md-offset-4 col-md-4'>

    {{#unless view.hasFile}}
        <h1> A file uploader</h1>
    <div class='well col-xs-12 project-uploader'>
          <span class="prtitle">
            {{{model.text.uploadProject}}}
          </span>
          <span class="pull-left glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          <span id='prinfo' class="info pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </h4>
        <div class="form-group">
          <input onchange="Actions.Project.fetchProject(this)" type="file" id="files" name="file" accept=".csv,.CSV" />
        </div>
        <div class='col-xs-12 col-md-offset-2 col-md-8'>
          A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
            download="diabetes.csv">here</a>. It is a network of six intervention for
          diabetes mellitus by Elliot et.al 
          <br>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/17240286">
            W. J. Elliott and P. M. Meyer. Incident diabetes in clinical
            trials of antihypertensive drugs: a network meta-analysis. The Lancet,
            369(9557):201 – 207, 2007</a>
        </div>
    </div>
  {{/unless}}

  {{#if view.hasFile}}
    <div id="project-settings">
        <h1> B project settings</h1>
          <div>
            <ul>
              <li class="list-group-item">
                <ul class="list-inline">
                  <li>
                  <h4>
                    {{view.projectTitle}}
                  </h4>
                  </li>
                  <li class="pull-right">
                  <button onClick="Actions.Project.changeName()" class="btn
                    btn-default">
                    rename
                  </button>
                  </li>
                </ul>
              </li>
              <li class="list-group-item">
                Filename 
                <span class="badge">{{view.filename}}.csv</span>
              </li>
              <li class="list-group-item">
                Created 
                <span class="badge">{{view.creationDate}}</span>
              </li>
              {{#if view.format}}
                <li class="list-group-item">
                  Format 
                  <span class="badge">{{view.format}}</span>
                </li>
              {{/if}}
            </ul>
          </div>
        <button id="projectClear" class="btn
          btn-default bs-danger">
          Clear Project
        </button>
      </div>
        {{#unless view.hasFormatType}}
        <ul>
          {{#unless view.format}}
            <li>
              Format 
            <select onchange="Actions.Project.selectFormat(this)">
                <option value="nothing" disabled {{#unless
                        view.hasSelectedFormat}}selected{{/unless}}>--</option>
              {{#each view.rawFormats}}
                <option value={{this}} 
                        {{#if_eq this view.selectedFormat}}
                          selected
                        {{/if_eq}}
                        >{{view.selectedFormat}} {{this}}</option>
              {{/each}}
            </select>
            </li>
          {{/unless}}
          {{#unless view.type}}
            <li>
              Type 
            <select onchange="Actions.Project.selectType(this)">
                <option value="nothing" disabled {{#unless
                        view.hasSelectedType}}selected{{/unless}}>--</option>
              {{#each view.rawTypes}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            </li>
          {{/unless}}
          <ul>
          {{#if view.hasSelectedFormatType}}
            <button onClick="Actions.Project.saveFormatType()" class="pull-right btn
              btn-default">
              Save
            </button>
          {{/if}}
        {{/unless}}
        {{#if view.hasFormatType}}
          <ul>
            {{#each view.rawColumns}}
              <ul class="list-inline">
                <li>
                  {{name}}
                </li>
                <li>
                  {{field}}
                </li>
              </ul>
            {{/each}}
          </ul>
          <ul class="available-fields">
            {{#each view.availableFields}}
              <ul class="list-inline">
                <li>
                  {{name}}
                </li>
                <li>
                  {{optional}}
                </li>
              </ul>
            {{/each}}
          </ul>
        {{/if}}
      {{#if view.canProceed}}
        <h1> Δ summary </h1>
          <ul id="project-summary" class="list-group">
            <li class="list-group-item">
              Type 
              <span class="badge">{{view.type}}</span>
            </li>
            <li class="list-group-item">
              <span class="badge">{{view.numStudies}}</span>
                Studies
            </li>
            <li class="list-group-item">
              <span class="badge">{{view.interventions}}</span>
                Interventions
            </li>
            <li class="list-group-item">
              <span class="badge">  {{view.comparisons}}</span>
              Comparisons
            </li>
          </ul>
        {{#if view.isSaved}}
        <button onClick="Actions.Router.gotoRoute('general')" class="pull-right btn
          btn-default">
          Proceed
        </button>
        <button  action='edit' id=edit-project' class="pull-right btn
          btn-default">
          Edit
        </button>
        {{else}}
          <button > Save </button>
        {{/if}}
      {{/if}}
    {{/if}}


</div>
