<div class='projects-container col-xs-12 col-md-offset-4 col-md-4'>
  <div class='well col-xs-12 project-uploader'>
    {{#if view.canUpload}}
        <span class="prtitle">
          {{{model.text.uploadProject}}}
        </span>
        <span class="pull-left glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        <span id='prinfo' class="info pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </h4>
      <!-- <div class="form-group">
        <label for="project-name">Project Name</label>
        <input size='250' type="text" class="form-control" id="project-name" placeholder="My Project's name">
      </div> -->
      <div class="form-group">
        <input type="file" id="files" name="file" accept=".csv,.CSV" />
      </div>
     <!-- <a id="popoverData" action='tools' class="btn routes btn-default" data-content="Upload a valid csv file to proceed" rel="popover" data-placement="bottom" data-trigger="hover">Proceed</a> -->
    {{else}}
    <ul class="list-group">
      <li class="list-group-item active">
        <h4>
          {{view.projectTitle}}
        </h4>
      </li>
      <li class="list-group-item">
        <span class="badge">{{view.numStudies}}</span>
          Studies
      </li>
      <li class="list-group-item">
        <span class="badge">{{view.interventions}}</span>
          Interventions
      </li>
      <li class="list-group-item">
        <span class="badge">  {{view.comparisons}}</span>
        Comparisons
      </li>
    </ul>
      <button  action='clearFile' id='projectClear' class="pull-right btn
        btn-default">
        {{{model.text.clearCurrentProject}}}
      </button>
    {{/if}}
  </div>
<!--
  <div id='project-browser' class='well col-xs-12'>
    <h4>
      <span class="pull-left glyphicon glyphicon-hdd" aria-hidden="true"></span>
      <span class="prtitle">Saved Projects</span>
    </h4>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item active">Middleton</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <button  action='tools' class="routes btn btn-default">Proceed</button>
  </div> -->

    <!-- <button disabled action='saveFile' id='projectSave' class="btn control pull-left btn-default">
      <span class=" glyphicon glyphicon-save" aria-hidden="true"></span>
      Save
    </button> -->
</div>
