<a id="robSelectorTitle" data-toggle="collapse" href="#robSelector" class='well btn  tool-title col-xs-12'><h4>Direct Comparison ROB Selection</h4></a>

<div id="robSelector" class='col-xs-12 well collapse in'>
  <div>
    <ul class='list-inline'>
      {{#each model.project.model.directComparisons}}
        <li class='well compRobSelector' id="comp-{{id}}">
          <ul>
            {{#if tn1}}
              <li>
                <ul>
                  <li>
                    <strong>{{tn1}}</strong>
                   </li><li>
                    vs
                    </li><li>
                    <strong>{{tn2}}</strong>
                  </li>
                </ul>
                <hr>
              </li>
            {{else}}
              <li>
              Comparison: <span class='pull-right'><strong>{{t1}}</strong> : <strong>{{t2}}</strong></span>
                <hr>
              </li>
              {{/if}}
            <li>
              Number of studies: <strong class='pull-right'>{{numStudies}}</strong>
              {{#if sampleSize}}
            </li><li>
              Sample size: <strong class='pull-right'>{{sampleSize}}</strong>
              {{/if}}
                <hr>
            </li><li class="majrob robLabel">
              Majority ROB: <strong class='pull-right'> {{labelROB majrob}} </strong>
            </li><li class="meanrob robLabel">
              Mean ROB: <strong class='pull-right'> {{labelROB meanrob}}</strong>
            </li><li class='maxrob robLabel'>
              Maximum ROB: <strong class='pull-right'> {{labelROB maxrob}}</strong>
                <hr>
            </li><li>
              Selected ROB:
              <select class="pull-right custom-selector" data-id="{{id}}">
                <option class="custom-none" value="-1">--</option>
                <option value="1" {{#if_eq selectedrob "1"}} selected ="selected"{{/if_eq}}>low</option>
                <option value="2" {{#if_eq selectedrob "2"}} selected = "selected"{{/if_eq}}>unclear</option>
                <option value="3" {{#if_eq selectedrob "3"}} selected = "selected" {{/if_eq}}>high</option>
                </select>
            </li>
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
  <hr>
  <div>
    <h5>Pick ROB selection rule:</h5>
    <select id='RSRule'>
      <option value='none'>
        --
      </option>
      <option value='majrob'>
        Majority
      </option>
      <option value='meanrob'>
        Mean
      </option>
      <option value='maxrob'>
        Maximum
      </option>
    </select>
    <button id="editRS" action='editRS' class="btn btn-default" >Edit</button>
    <button id="resetRS" action='resetRS' class="btn btn-default" >Reset</button>
</button>
</div>
</div>
